#leaflet-map {
position:fixed;
top: 0px;
left: 0px;
width: 100% !important;
height: 100% !important;
}

.leaflet-control-zoom {
position: fixed;
bottom: 10px;
left: 5px;
}

/**Custom code**/

/*Fonts etc.*/
h1{
font-size: 3em;
font-family:helveticaneue-light;
}

p {
  font-family:helveticaneue-light;
  font-size:16px;
  max-width:640px;
}
/*End fonts etc.*/

.leaflet-popup-content {
margin: 0px 0px;
}

/* Youtube videos */
.media-youtube-player {
	width:290px !important;
	height:175px !important;
}

/*Vimeo Videos */
.media-vimeo-player {
	width:290px !important;
	height:175px !important;
}


/* Leaflet popup overrides */
.leaflet-popup-content-wrapper {
	max-height: 350px;
  	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
  	margin-top: 30px;
  	padding: 0px;
}

.leaflet-popup-close-button {
display: none;
}

/* Popup interface */

.glyphicon-pencil {
margin-right: 3px;
}

.popuptitle {
margin: 5px;
text-align: center;
text-decoration: underline;
font-family: georgia;
}

.popupbody {
margin: 5px;
}



/*Leaflet marker cluster mods*/
.marker-cluster-small {
	background-color: rgba(255, 216, 67, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(252, 164, 75, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(255, 216, 67, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(252, 164, 75, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(255, 216, 67, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(252, 164, 75, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}