.piece-map .container {
display: block;
padding: 4px;
margin-bottom: 20px;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0,0,0,0.26);
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}