.piece {
position: relative;
width: 100%;
border-style: solid;
border-width: 1px;
border-radius: 20px;
border-color: gray;
}

.piece-icon {
position: absolute;
left: 5px;
}

.piece-content {
position: absolute;
}

.piece-action {
position: absolute;
right: 5px;
}
