.piece {
position: absolute;
width: 100%;
border-style: solid;
border-width: 1px;
margin: 20px;
}

.piece-icon {
float: left;
}

.piece-content {
position: absolute;
}

.piece-action {
float: right;
}
