.piece {
display: inline-block;
position: relative;
width: 100%;
border-style: solid;
border-width: 1px;
border-radius: 20px;
border-color: gray;
}

.piece-icon {
left: 5px;
}

.piece-content {
}

.piece-action {
right: 5px;
}
