a {
color: rgba(30,93,129,0.8);
}

a:hover {
color: rgba(30,93,129,1);
}

.code {
word-wrap: break-word;
font-size: 12px;
font-family: monospace;
}

/** Logo **/
.logo img {
width: 35px;
border-radius: 8px;
opacity: 0.6;
}

.logo img:hover {
opacity: 1;
}

/** Orbitist Buttons **/
.btn-default {
background-color: rgba(30,93,129,0.8);
border-color: rgba(30,93,129,0.6);
color: #eee;
}

.btn-default:hover {
background-color: rgba(30,93,129,1);
border-color: rgba(30,93,129,0.8);
color: white;
}

.btn-orbitist {
background-color: rgba(241,194,137,0.8);
border-color: rgba(241,194,137,0.6);
color: #777;
}

.btn-orbitist:hover {
background-color: rgba(241,194,137,1);
border-color: rgba(241,194,137,0.8);
color: #333;
}

/* Navbar Buttons */
.navbar-nav>li>a.nav-button {
padding-top: 3px;
padding-bottom: 0px;
}

/* Media Module Buttons */
a.button {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color: #333;
background-color: #fff;
border-color: #ccc;
}

/** Filter Buttons **/
.views-submit-button, .views-submit-button .btn {
width: 100%;
margin-top: -15px;
}

.views-exposed-form .views-exposed-widget {
padding: 0px;
}

/** Map Widget **/
.field-name-field-location {
margin-top: 10px;
padding: 6px;
border: 1px solid transparent;
border-color: #ccc;
border-radius: 4px;
}

.field-use-geocoder-submit {
margin-bottom: 6px;
width: 100%;
}

/** Node Submission **/
.media-item {
width: 300px;
}