/* Leaflet popups */
.leaflet-popup {
margin-bottom: -15px;
z-index: 50;
}

.leaflet-popup-content {
margin: 0px 0px;
z-index: 50;
}

.leaflet-container a.leaflet-popup-close-button {
margin-top: 22px;
margin-right: -10px;
padding: 4px 3px 3px 4px;
width: 25px;
height: 25px;
background-color: white;
border-radius: 50%;
box-shadow: 0 1px 5px rgba(0,0,0,0.65);
z-index: 55;
}

.leaflet-popup-content-wrapper {
max-height: 350px;
overflow-y: scroll; /* has to be scroll, not auto */
-webkit-overflow-scrolling: touch;
margin-top: 30px;
padding: 0px;
border-radius: 4px;
z-index: 50;
}

/* Custom popup regions */
.popupimage-expand {
font-size: 30px;
margin-top: -45px;
margin-right: 8px;
text-align: right;
color: #eee;
}
.popupimage-expand:hover {
color: #fff;
}

.popuptitle {
margin: 5px;
text-align: center;
}

.popupbody {
margin: 5px;
}

.popupbody p {
font-size: 16px;
}

.popupbody h3 {
margin-top: 10px;
}

.popupbody .btn {
width: 100%;
}

/* Remove zoom controls on small screens */
@media (max-width: 767px) {
.leaflet-control-zoom {
display: none;
}
}

/* Leaflet marker cluster mods */
.marker-cluster-small {
background-color: rgba(255, 216, 67, 0.6);
}
.marker-cluster-small div {
background-color: rgba(252, 164, 75, 0.6);
}
.marker-cluster-medium {
background-color: rgba(255, 216, 67, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(252, 164, 75, 0.6);
}
.marker-cluster-large {
background-color: rgba(255, 216, 67, 0.6);
}
.marker-cluster-large div {
background-color: rgba(252, 164, 75, 0.6);
}
.marker-cluster {
background-clip: padding-box;
border-radius: 20px;
}
.marker-cluster div {
width: 30px;
height: 30px;
margin-left: 5px;
margin-top: 5px;
text-align: center;
border-radius: 15px;
font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
line-height: 30px;
}


/* Youtube videos */
.popupbody .media-youtube-player {
width:290px !important;
height:175px !important;
}

/* Vimeo Videos */
.popupbody .media-vimeo-player {
width:290px !important;
height:175px !important;
}

/* Markers */
.leaflet-tagged-marker i {
font-size: 35px;
padding-top: 4px;
}